{% extends "base.html" %}
{% load static %}
{% load paginator_tags %}

{% block content %}
    <section class="spotlight">
        <h3>Posts</h3>
        <div class="all-posts">
            <div class="post-section">
                
                    {% if paginator_instance %}
                        <ul class="posts">
                            {% for post in paginator_instance %}
                            <li>
                                <a href="posts/{{post.pk}}">
                                    <div class="blog-image">
                                        <img
                                            src="{{ post.featured_image.url }}"
                                            alt="Blog"
                                        />
                                    </div>
                                    <div class="details">
                                        <div class="date">
                                            <h4 class="name">{{ post.author.name}}</h4>
                                            <div class="round"></div>

                                            <span>{{ post.published_date | date:"d/m/Y, l" }}
                                            </span>
                                        </div>
                                        <h3 class="head">
                                            <!-- {{post.title|lower}} -->
                                            <!-- {{post.title|upper}} -->
                                            <!-- {{post.title|title}} -->
                                            {% comment %} 
                                                {{post.title|capfirst}} 
                                            {% endcomment %}
                                            {% comment %}
                                                {{post.title|cut:" "}} 
                                                cut all the white spaces
                                            {% endcomment %}
                                            {{post.title}}
                                        </h3>
                                            {% comment %} 
                                                <h6>ID: {{post.pk|add:1}}</h6>
                                            {% endcomment %}

                                            {% comment %}
                                            {% if post.pk|divisibleby:2 %}
                                                <h6>ID: {{post.pk|add:1}}</h6>
                                            {% endif %}
                                            {% endcomment %}

                                            <h6>Draft: {{post.is_draft|yesno:"Yes, No, Maybe"}}</h6>
                                            <h6>Rank: {{post.rank}}</h6>
                                            {% comment %} 
                                                returns Yes if True returns No if False and Maybe if None
                                            {% endcomment %}
                                        
                                        <p class="description">
                                            {% comment %} 
                                                {{post.short_description|truncatechars:10}}
                                                truncate the characters upto 10
                                            {% endcomment %}
                                            {% comment %} 
                                                {{post.short_description|truncatewords:10}}
                                                truncate the words upto 10
                                            {% endcomment %}
                                            {% comment %}
                                                {{post.description|truncatechars_html:10}}
                                                trunctaes the the chars in description but it doenst touch the html tags
                                            {% endcomment %}
                                            {% comment %}
                                                {{post.description|truncatechars_html:10}}
                                                trunctaes the the words in description but it doenst touch the html tags
                                            {% endcomment %}
                                            {% comment %}
                                                {{post.description|safe|truncatechars_html:10}}
                                                trunctaes the the words in description but it doenst touch the html tags and it renders html when there is safe filter
                                            {% endcomment %}
                                            {% comment %}
                                                {{post.description|striptags}}
                                                trunctaes all html tags
                                            {% endcomment %}
                                            {% comment %} 
                                                {{post.description|default:"Lorem ispum dolor sit alamrde"}} 
                                                if the description is empty it will show the default value
                                            {% endcomment %}
                                            {{post.short_description|truncatewords:20}}
                                        </p>
                                    </div>
                                </a>
                                <div class="bottom">
                                    {% for tag in post.categories.all %}
                                        
                                        <a href="#" class="design {% cycle 'one' 'two' 'three' 'four' 'five' %}"> {{tag.title}} </a>
                                        
                                    {% endfor %}

                                    {% comment %} 
                                        <a href="#" class="design two">{{post.categories.all|first}}</a> 
                                    {% endcomment %}
                                    {% comment %} 
                                        <a href="#" class="design two">{{post.categories.all|random}}</a> 
                                    {% endcomment %}
                                    {% comment %} <a href="#" class="design two">{{post.categories.all|slice:1}}</a>  {% endcomment %}
                                    {% comment %}
                                    <p>length: {{post.categories.all|length}}</p>
                                    <p>length: {{post.categories.all|length_is:2}}</p>
                                    {% endcomment %}
                                </div>
                            </li>             
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h1>No Results Found</h1>
                    {% endif %}
                
                 
                {% load_pagination paginator_instance  %}

            </div>
            <div class="filter-section" id="hamburger-menu">
                <form action="">
                    <input type="text" name="q" placeholder="Search anything..." />
                    <p class="filter-head">Sort by</p>
                    <div class="filter">
                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="title-asc"
                            />
                            <span class="radio"></span>
                            <span class="label">Title ordered by Asc</span>
                        </label>
                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="title-desc"
                            />
                            <span class="radio"></span>
                            <span class="label">Title ordered by Desc</span>
                        </label>
                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="date-asc"
                            />
                            <span class="radio"></span>
                            <span class="label"
                                >Order By Date added Asc</span
                            >
                        </label>
                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="date-desc"
                            />
                            <span class="radio"></span>
                            <span class="label"
                                >Order By Date added Desc</span
                            >
                        </label>
                    </div>
                    <p class="filter-head">Categories</p>
                    <div class="filter">
                        {% for category in categories %}
                            <label class="checkbox">
                                <input type="checkbox" value={{category.id}} name="category" />
                                <span class="label">{{category.title}}</span>
                            </label>
                        {% endfor %}
                    </div>
                    <p class="filter-head">Authors</p>
                    <div class="filter">
                        {% for author in authors %}
                            <label class="checkbox">
                                <input type="checkbox" value={{author.id}} name="author" />
                                <span class="label">{{author.name}}</span>
                            </label>
                        {% endfor %}
                    </div>
                    <input type="submit" value="Filter" />
                </form>
            </div>
        </div>
    </section>
    <div id="overlay"></div>
    <div id="close">
        <img src="{% static './images/icons/close.svg' %}" alt="" />
    </div>

    <script src="{% static "./js/script.js" %}"></script>
{% endblock content %} 
